{% extends "base.html" %}

{% block content %}
<h1>About</h1>
<hr>
<p>
    Mein Name lautet Felix Johannes Caldeira Cabral, ich bin Abiturient in Hamburg. Neben der Schule bin ich Fotograf, Web-Entwickler und -Designer.
</p>
<p>
    Ich bringe kreative, als auch technische Erfahrungen zusammen, um Webseiten zu entwickeln und zu gestalten. Hierbei habe ich bereits an kleineren privaten sowie an einem umfangreicheren beruflichen Projekt gearbeitet und Erfahrungen gesammelt.  
</p>
<p>
    Technisch arbeite ich vor allem mit HTML, CSS, JavaScript (Frontend) sowie Node.js, TypeScript und MySQL (Backend). Abgesehen davon habe ich aber auch einige Python und Java Kenntnisse aus ehemaligen Projekten. 
</p>
<p>
    Nach dem Abitur strebe ich ein Physikstudium an, um mein analytisches Denken weiter auszubilden. In meinem Master möchte ich mich hingegen in einem technischen Bereich spezialisieren, damit ich meinen Interessen und bereits gewonnenen Kenntnissen treu bleibe. 
</p>
<hr>
<img src="/static/images/felix.JPG" alt="">
{% endblock content %}
